<div class="about-us">
    <div class="about-us__main-content">
        <h2 class="about-us__heading">About us</h2>
        <p class="about-us__paragraph1">Welcome to Learn Together, your go-to platform for high-quality online courses.
            We are dedicated to providing learners with expert-led, engaging, and affordable educational content to help
            them grow in their careers. Our mission is to empower individuals with knowledge and skills through a
            user-friendly and interactive learning experience. Join us today and take the next step towards your
            professional success!</p>
        <p class="about-us__paragraph2">Whether you're looking to upskill, switch careers, or explore a new passion, we
            have a course for you! Our expertly designed programs ensure a flexible and immersive learning journey,
            accessible anytime, anywhere. Join a thriving community of learners and start achieving your goals today.
            Your future begins here!</p>
    </div>

    <div class="about-us__left">
        <div class="about-us__card1">
            <img src="assets/images/imran.jpeg" alt="" class=" about-us__profile about-us__member1" width="150" height="150">
            <h4 class="about-us__imran about-us__member-name">Imran Ali</h4>
            <p>CEO & Co Founder</p>
        </div>

        <div class="about-us__card2">
            <img src="assets/images/member2.jpg" alt="" class=" about-us__profile about-us__member2" width="150" height="150">
            <h4 class="about-us__ilyas about-us__member-name">Muhammad Ilyas</h4>
            <p>Chief Techonlogy Office</p>
        </div>

        <div class="about-us__card3">
            <img src="assets/images/mem3.jpg" alt="" class=" about-us__profile about-us__member3" width="150" height="150">
            <h4 class="about-us__afnan about-us__member-name">Muhammad Afnan</h4>
            <p>Chief Operating Officer</p>
        </div>
    </div>

</div>