<footer class="footer">
    <div class="container footer__section">
        <div class="footer__main-section">
            <div class="footer__contact-info">
                <h5>Contact Us</h5>
                <ul class="footer__un-order-list">
                    <li class="footer__email footer__contact-links"> <a class="footer__mail-link" [href]="email">{{email}}</a></li>
                    <li class="footer__phoneNumber footer__contact-links"> <a class="footer__phoneNumber-link" [href]="phoneNumber">{{phoneNumber}}</a></li>
                    <li class="footer__address footer__contact-links"><p>Swat Khyber Pakhtunkhwa, Pakistan</p></li>
                </ul>
            </div>
            <div class="footer__socila-media">
                <h5 class="text-center">Follow us</h5>
                <ul class="footer__social-icon">
                    <li><a class="bi bi-facebook fs-3"></a></li>
                    <li><a class="bi bi-linkedin fs-3 ms-4"></a></li>
                    <li><a class="bi bi-github fs-3 ms-4"></a></li>
                    <li><a class="bi bi-instagram fs-3 ms-4"></a></li>
                    <li><a class="bi bi-twitter fs-3 ms-4"></a></li>
                    
                </ul>
            </div>

            <div class="footer__subscribe">
                <h5>News Letters</h5>
                <input type="email" name="email" id="email" placeholder="imranali23322@gmail.com" class="footer__input">
                <button type="button" class="btn btn-primary footer__button">Subscribe</button>
            </div>
        </div>
        <p class="footer__copyrights">2025 code by Imran Ali. All Right Reserved</p>
    </div>
</footer>