<div class="nav-header">
    <nav class="nav-header__nav">
        <div class="nav-header__logo-container">
            <img src="assets/images/Learn_Together_Logo.png" alt="logo" class="nav-header__logo">
            <span class="nav-header__title">Learn Together</span>
            <label for="menu-toggle" class="nav-header__menu-icon">☰</label>
        </div>
        <input type="checkbox" id="menu-toggle" class="nav-header__checkbox">
        <ul class="nav-header__list">
            <li class="nav-header__list-item"><a class="nav-header__href-links" routerLink="/">Home</a></li>
            <li class="nav-header__list-item"><a class="nav-header__href-links" routerLink="about">About</a></li>
            <li class="nav-header__list-item"><a class="nav-header__href-links" routerLink="admin">Admin</a></li>
        </ul>
    </nav>
</div>