.cards {
  padding: 15px;
  background: rgb(241, 241, 241);
  // box-shadow: 2px 2px rgb(116, 116, 116);
  margin-top: 20px;
  border: 2px solid rgb(161, 161, 161);

  &__image {
    width: 100%;
    height: auto;
  }
  &__delete_btn{
    position: absolute;
  //   margin-top: -239px;
  }
}

@media screen and (max-width: 992px) {
  .show-data {
    &__full-cards {
      justify-content: center;
    }
  }
}
