/* You can add global styles to this file, and also import other style files */
*, *::before, *::after, *a{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}
 
@import "bootstrap-icons/font/bootstrap-icons.css";
